<header class="bg-white shadow-xl fixed top-0 left-0 right-0 z-50 h-[60px]">
    <div class="flex items-center justify-between h-full px-4">
        <div>
            <a routerLink="/">
                <img src="" alt="">
                <span class="font-semibold text-xl">Billing System</span>
            </a>
        </div>
        <nav>
            <ul class="flex gap-4 list-none font-medium">
                <li><a routerLink="" routerLinkActive="active">Settings</a> </li>
                <li class="cursor-pointer hover:text-blue-800 transition-all"><a routerLink="" >Logout</a> </li>
            </ul>
        </nav>
    </div>
</header>
